body {
  background: #f6f9fe;
  font-family: "Inter", "SF Pro Text", "Helvetica Neue", "Helvetica", "Segoe UI", "Arial", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  font-family: "Inter", "SF Pro Text", "Helvetica Neue", "Helvetica", "Segoe UI", "Arial", sans-serif;
}

.tests-navigation details {
  border: 1px solid #ccc;
  padding: 1rem;
}
.tests-navigation summary {
  cursor: pointer;
  font-weight: bold;
}
.tests-navigation summary::marker {
  display: inline-block;
  content: "+ ";
  font-size: 1.5em;
  width: 1.5rem;
}
.tests-navigation details[open] summary::marker {
  content: "- ";
}
