// Colors
$color-1: #000;
$color-2: #fff;
$color-3: #f6f6f6;
$color-4: #0754a8;

$code-color: #d63384;

// Margins, Paddings

$margin: remToPx(1rem);

$padding-sm: remToPx(0.5rem);
$padding: remToPx(1rem);

// Other
$border-radius-default: remToPx(0.2rem);
