@import 'helpers/helpers';
@import 'variables';
@import 'external/bootstrap/bootstrap';
@import 'common/common';

body {
  background: #f6f9fe;
  color: $color-1;
  font-family: 'Inter', 'SF Pro Text', 'Helvetica Neue', 'Helvetica', 'Segoe UI', 'Arial', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  font-family: 'Inter', 'SF Pro Text', 'Helvetica Neue', 'Helvetica', 'Segoe UI', 'Arial', sans-serif;
}

body {
  padding: $padding;
}

.common-bar {
  background: #fff;
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.05),
    0 2px 3px 0 rgba(0, 0, 0, 0.1);
  padding: $padding-sm $padding;
  position: relative;

  &__section {
    margin: 0;
    padding: $padding;
  }

  search {
    table {
      tbody {
        tr {
          &:focus-within,
          &:hover {
            td {
              background-color: $color-3;
            }
          }

          td {
            &:nth-child(2),
            &:nth-child(3) {
              text-align: center;
            }
          }
        }
      }
    }

    .btn-close-dialog {
      position: absolute;
      right: -1rem;
      top: -1rem;
    }
  }
}
