@import 'helpers/helpers';
@import 'variables';
@import 'external/bootstrap/bootstrap';
@import 'common/common';

body {
  background: #f6f9fe;
  color: $color-1;
  font-family: 'Inter', 'SF Pro Text', 'Helvetica Neue', 'Helvetica', 'Segoe UI', 'Arial', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  font-family: 'Inter', 'SF Pro Text', 'Helvetica Neue', 'Helvetica', 'Segoe UI', 'Arial', sans-serif;
}

.tests-search-box {
  background: #fff;
  left: auto;
  margin: 0;
  max-height: calc(100vh - #{$padding * 2});
  width: 40vw;
  overflow-y: scroll;
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 2147483600; // Max: 2147483647

  search {
    position: relative;

    table {
      tbody {
        tr {
          &:focus-within,
          &:hover {
            td {
              background-color: $color-3;
            }
          }

          td {
            &:nth-child(2),
            &:nth-child(3) {
              text-align: center;
            }
          }
        }
      }
    }

    .btn-close-dialog {
      position: absolute;
      right: -1rem;
      top: -1rem;
    }
  }
}
